doctype html
html(lang='pt-BR')
  head
    meta(charset='UTF-8')
    title Document
    link(media='all', rel='stylesheet', href='assets/css/bundle.css')
  body
    h1 Teste Pug

    script(src='assets/js/bundle.js')
