{{!-- pages/page-one.hbs --}}

{{#> layouts/base title="Page One" }}

  {{#*inline "hero-block"}}
    {{!-- {{> includes/hero
      hero-src="http://fpoimg.com/500x200"
      hero-alt="Hero 1 alt title"
    }} --}}
  <p>Teste</p>
  {{/inline}}

{{/layouts/base}}
