footer.footer
  .container
    .row
      .three.columns
        span © All Rights Reserved
      .nine.columns.footer-menu
        ul
          li
            a(href='mailto:maadamaceno@gmail.com')
              i.fa.fa-envelope-o(aria-hidden='true')
          li
            a(href='http://github.com/mdamaceno', target="_blank")
              i.fa.fa-github-alt(aria-hidden='true')
          li
            a(href='http://twitter.com/mdamaceno', target="_blank")
              i.fa.fa-twitter(aria-hidden='true')
