nav.navbar
  .container
    .row
      .three.columns
        h1 Marco Damaceno
      .nine.columns.main-menu
        ul
          li
            a(href='#') Home
          li
            a(href='#') Produtos
          li
            a(href='#') Missão
          li
            a(href='#') Links
          li
            a(href='#') Contato
