nav.navbar
  .container
    .row
      .three.columns
        h1
          a(href="#", title="Marco Damaceno") Marco Damaceno
      .nine.columns.main-menu
        ul
          li
            a(href='#') Sobre
          li
            a(href='#') Projects
          li
            a(href='#') Articles
