$primary-color: #333;
$secondary-color: #eee;
$link-color: #ccccff;
html {
    height: 100%;
}

main {
    flex: 1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    padding: 20px 0;
    max-width: 780px;
}

.navbar {
    padding: 1.5rem 0;
    background: #333;
    h1 {
        margin: 0;
        color: $secondary-color;
        font-size: 20px;
        font-weight: bold;
        a {
            text-decoration: none;
            color: $secondary-color;
            &:hover {
                color: lighten($secondary-color, 5%);
            }
        }
    }
    .main-menu ul {
        padding: 0px;
        margin: 0px;
        float: right;
        list-style: none;
        li {
            display: inline;
            margin-left: 1.5em;
        }
        a {
            padding: 2px 10px;
            display: inline-block;
            color: $secondary-color;
            text-decoration: none;
            border-top: 1px solid transparent;
            // border-bottom: 1px solid transparent;
            &:hover {
                color: darken($secondary-color, 10%);
                border-top: 1px solid lighten($secondary-color, 10%);
                // border-bottom: 1px solid lighten($secondary-color, 10%);
            }
        }
    }
}

#main-content {
    a {
        color: darken($link-color, 30%);
        text-decoration: none;
        &:hover {
            color: darken($link-color, 20%);
        }
    }
    h1 {
        font-size: 35px;
        font-weight: bold;
    }
    h2 {
        font-size: 28px;
    }
    p {
        margin-right: 14em;
    }
}

.footer {
    padding: 1.5rem 0;
    background: darken($secondary-color, 2%);
    .footer-menu ul {
        padding: 0px;
        margin: 0px;
        float: right;
        list-style: none;
        li {
            display: inline;
            margin-left: .2em;
        }
        a {
            // padding: 2px 10px;
            display: inline-block;
            color: $primary-color;
            text-decoration: none;
            &:hover {
                color: darken($link-color, 20%);
            }
        }
    }
}
